<ion-header>
  <ion-toolbar mode="ios" color="dark">
    <ion-title>CADASTRAR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <img src="https://www.pngkey.com/png/full/926-9264310_o-nex-um-sistema-completo-de-gesto.png">

    <form [formGroup]="formProduto">
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" formControlName="nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descrição</ion-label>
        <ion-input type="text" formControlName="descricao"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Preço</ion-label>
        <ion-input type="number" formControlName="preco"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Validade</ion-label>
        <ion-input type="date" formControlName="validade"></ion-input>
      </ion-item>
    </form>

    <ion-button size="block" color="success" (click)="salvarCadastro()">CADASTRAR</ion-button>
    <ion-button size="block" color="danger">VOLTAR</ion-button>
  </ion-card>
</ion-content>
