* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ion-button {
  margin-top: 15px;
}

ion-button+ion-button {
  margin-top: 7px;
}

img {
  width: 100%;
}

.msg-erro {
  color: #ff0000;
  font-size: 15px;
  clear: both;
  position: relative;
}
