<ion-header>
  <ion-toolbar color="dark">
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-button expand="block" color="success">ENTRAR</ion-button>
  <ion-button expand="block" routerLink="/registro">REGISTRAR</ion-button>

  <div class="esqueceu">
    <a href="/login">Esqueceu a senha</a>
  </div>
</ion-content>
