* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.esqueceu {
  height: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  a {
    color: #c1c1c1;
    margin-right: 1rem;
  }
}

ion-button {
  margin-top: 15px;
}

ion-button+ion-button {
  margin-top: 7px;
}

img {
  width: 100%;
}

.msg-erro {
  color: #ff0000;
  font-size: 15px;
  clear: both;
  position: relative;
}
